{% extends "base.html" %}



<style type="text/css">
    #tweet-container{}

</style>


{% block script %} 

<script type="text/javascript">

    $(document).ready(function(){
        
        loadTweetContainer("tweet-container")

    });
 
</script>

{% endblock script %}

    {% block content %}
    
        <div class="row">
            <div class='col-sm-12'>
                {% if request.GET.q %}
                <p class='lead'>Results for {{ request.GET.q }}</p>
                <hr/>
                {% endif %} 
            </div>
            <div class='col-9'>
                <h1>Tweets</h1>

                {% if not request.GET.q %}
                <div class=''>
                    {% include "tweetsapp/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_class='tweet-form' %}
                </div><br>
                        {% endif %}

                            <div id='tweet-container' data-url='/api/tags/{{obj.tag}}/'>

                    </div>
                    <a href='#' id='loadmore'>Load More Tweets</a>

            </div>
            

         </div>
         


 {% endblock content %}