{% extends "base.html" %}
{% load recommended %}

<style type="text/css">
	#tweet-container{}

</style>


{% block script %} 

<script type="text/javascript">

	

	$(document).ready(function(){
		
		loadTweetContainer("tweet-container")

	});
 
</script>

{% endblock script %}


	{% block content %}
	
		<div class="row">
			<div class="col-3">
				<h1>{{request.user}}</h1>
				<br/>
				<hr/>
				<p>Recommended to Follow</p>
		        {% recommended request.user %}
      


			</div> 
			<div class='col-9'>
				{% if not request.GET.q %}
				<div class=''>
					{% include "tweetsapp/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_class='tweet-form' %}
				</div><br>
						{% endif %}

							<div id='tweet-container' data-url='/api/tweet'>

					</div>
					<a href='#' id='loadmore'>Load More Tweets</a>

			</div>

		 </div>

		</div>


 {% endblock content %}